.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.modalCover {
  composes: modal;
  background: rgba(0, 0, 0, .3);
  z-index: 10;
}

.modalBody {
  position: relative;
  background: var(--whiteText);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 12px;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 50%;
  top: 20%;
  height: fit-content;
}

.modalTitle {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}
