.breadcrumbs {
  display: flex;
}

.breadcrumb {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  color: var(--mainText);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.inactive {
    cursor: initial;
  }
}

.separator {
  display: inline-block;
  margin: 0 10px;
}
