.page {
  box-sizing: border-box;
  padding: 40px 80px;
  overflow-y: auto;
  z-index: 5;
  position: relative;
}

.authContainer {
  display: flex;
  position: relative;
}

.authForm {
  padding: 20px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  box-sizing: border-box;
  background: var(--whiteText);
  border-radius: 12px;
  min-width: 600px;
}

.switcher {
  font-size: 17px;
  color: var(--dateText);
  margin: 20px 0;
  cursor: pointer;
}

.patternContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  color: var(--secondaryText);
}
