.notificationIcon {
  margin: 0 20px;
  font-size: 25px;
  color: #9b5600;
  cursor: pointer;
}

.notificationContainer {
  position: relative;
}

.notifications {
  position: absolute;
  top: 30px;
  right: -50px;
  z-index: 10;
  background: var(--activityCard);
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
  padding: 20px;
  box-sizing: border-box;
  min-width: 400px;
  overflow-y: auto;
  max-height: 70vh;
}

.indicator {
  position: absolute;
  top: -5px;
  right: 14px;
  width: 12px;
  height: 12px;
  background: var(--dangerBtn);
  border-radius: 100%;
  border: 2px solid #fff;
  animation: pulse infinite .5s ease-in;
}

.readNotification {
  opacity: .7;
}

.clearAllBtn {
  color: var(--link);
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.actionBtns {
  display: flex;
  flex-shrink: 0;
}

.markBtn {
  color: var(--link);
  font-size: 17px;
  cursor: pointer;
  margin-left: 15px;

  &:hover {
    text-decoration: underline;
  }
}

.notification {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
}

.notificationHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.notificationActivityName {
  font-size: 23px;
  color: var(--secondaryText);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.deletedActivityName {
  font-size: 23px;
  color: var(--secondaryText);
  cursor: not-allowed;
}

.activityType {
  margin: 5px 0;
  font-size: 15px;
}

.deletedActivityType {
  composes: activityType;
  color: var(--dangerBtn);
}

.actionActivityType {
  composes: activityType;
  color: var(--grape);
}

.messagesActivityType {
  composes: activityType;
  color: var(--darkCerulean);
}

.notificationDate {
  color: var(--dateText);
  font-size: 17px;
  margin-top: 15px;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}
