:root {
  --mustardBrown: #CC810E;
  --grape: #7338AC;
  --darkCerulean: #084A7D;
  --cadmiumGreen: #006328;
  --funGreen: #008335;

  --navBg: #f9f3fe;
  --mainText: #47444A;
  --secondaryText: #333333;
  --navUnderline: #690ecc;
  --toolbarBtn: #F4D19B;
  --toolbarBtnBorder: var(--mustardBrown);
  --controlBtnBorder: var(--grape);
  --controlBtnBg: #F0D9FF;
  --activityCard: #FEFEFE;
  --whiteText: #FEFEFE;
  --categoryBg: #7338AC;
  --loaderColor: #7338AC;
  --dateText: #626262;
  --formBorder: var(--darkCerulean);
  --dangerBtn: #CC0E0E;
  --inputBorder: var(--darkCerulean);
  --inputBg: #F1F8FD;
  --primaryBtn: #B0E3FF;
  --primaryBtnBorder: var(--darkCerulean);
  --pageBg: #F3F1F5;

  --alertBg: #fff;
  --alertSuccess: #2bdc72;
  --alertSuccessText: var(--cadmiumGreen);
  --alertInfo: #2b8fdc;
  --alertError: #dc2b2b;

  --patternMain: #7338AC;
  --patternLighter: #e1c3ff;
}
