.page {
  box-sizing: border-box;
  padding: 40px 80px 0;
  overflow-y: auto;
  height: calc(100vh - 90px);
}

.pageLoader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
